* {
  font-family: "Roboto Light", "Roboto Regular", "Roboto Bold", "Roboto Black",
    sans-serif;
}
@import "_mixin";
@import "_values";
/* Country */
.country {
  min-height: 85px;
  padding: 19px 77px;
  display: flex;
  justify-content: center;
  .item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 33px;
    &:nth-child(5) {
      margin-right: 0;
    }
    &-img {
      margin-right: 11px;
    }
    &-header {
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      color: $blacktext;
    }
    &-descr {
      margin-top: 4px;
      font-size: 11px;
      font-weight: 300;
      color: $blacktext;
      line-height: 18px;
      a {
        color: $blacktext;
        &:hover {
          color: $blacktext;
        }
      }
    }
  }
}
/* Promo */
.promo {
  min-height: 673px;
  padding: 39px 0 0 0;
  background: url("..//img/bg_promo.jpg") center (center/cover) no-repeat;
  .main {
    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-list {
        display: flex;
        list-style: none;
        li {
          margin-right: 45px;
          font-size: 13px;
          line-height: 26px;
          font-weight: 700;
          text-transform: uppercase;
          color: $whitetext;
          &:nth-child(5) {
            margin-right: 0;
          }
          a {
            color: $whitetext;
            &:hover {
              color: $whitetext;
            }
          }
        }
      }
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 56px;
      .text {
        margin-right: 40px;
        &-header {
          font-size: 42px;
          line-height: 48px;
          font-weight: 900;
          color: $whitetext;
        }
        &-subheader {
          margin-top: 27px;
          font-size: 24px;
          line-height: 30px;
          font-weight: 300;
          color: $whitetext;
          span {
            font-weight: 600;
          }
        }
        &-btn {
          margin-top: 35px;
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
          width: 249px;
          height: 68px;
          background-color: $btn;
          cursor: pointer;
          border-radius: 5px;
          font-size: 15px;
          font-weight: 700;
          line-height: 69px;
          text-transform: uppercase;
          color: $whitetext;
          padding: 0 50px;
        }
      }
    }
  }
}
/* Prengi */
.prengi {
  padding: 79px 0 81px 0;
  min-height: 895px;
  &-without {
    display: flex;
    justify-content: space-between;
    .item {
      position: relative;
      &-descr {
        position: absolute;
        bottom: 37px;
        left: 50%;
        transform: translateX(-50%);
        width: 236px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
        color: $greytext;
        text-align: center;
      }
    }
  }
  &-arrows {
    margin-top: 50px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &-header {
    text-align: center;
    margin-top: 33px;
    font-size: 48.1px;
    line-height: 30px;
    font-weight: 700;
    color: $greytext;
  }
  &-with {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    .item {
      position: relative;
      &-descr {
        position: absolute;
        bottom: 37px;
        left: 50%;
        transform: translateX(-50%);
        width: 236px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        color: $greytext;
        text-align: center;
      }
    }
  }
}
/* Decision */
.decision {
  min-height: 889px;
  padding: 79px 0 61px 0;
  background: url("..//img/bg_solutions.jpg") center (center/cover) no-repeat;
  &-header {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-weight: 900;
    color: $whitetext;
  }
  &-tab {
    width: 81%;
    height: 64px;
    margin-top: 25px;
    margin-left: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid $whitetext;
    border-radius: 7px;
    padding: 0;
    &-item {
      padding-right: 26.5px;
      padding-left: 26.5px;
      border-right: 1px solid $whitetext;
      cursor: pointer;
      &:hover {
        font-weight: 700;
        color: $btn;
      }
      &:nth-child(1) {
        padding-left: 0;
      }
      &:nth-child(6) {
        padding-right: 0;
        border-right: none;
      }
    }
  }
  &-slider {
    position: relative;
    margin-top: 36px;
    .tiny {
      div {
        width: 947px;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
    &-prev {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
    &-next {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@import "_media";
